@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
    url(../fonts/Gilroy-Medium.woff) format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
    url(../fonts/Gilroy-Bold.woff) format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    color: #070707;
}

h1, p {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #070707;
}

img {
    max-width: 100%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    margin-bottom: 125px;
}

.nav {
    min-height: 88px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #828282;
}

.nav__item {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.28px;
}

.nav__item a {
    color: #828282;
}

.nav__item .active {
    color: #070707;
}

.header__info {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    margin: 0;
    font-weight: 700;
    color: #070707;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    
}

.header__title {
    width: 124px;
    font-size: 47px;
    line-height: 59px;
    font-weight: 700;
    color: #070707;
}

.header__text {
    width: 155px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.header__lang {
    font-weight: 700;
    align-self: flex-end;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.about-me {
    margin-bottom: 125px;
}

.about-me__title {
    margin-bottom: 18px;
}

.about-me__text {
    max-width: 485px;
    margin: 0 auto;
}

.text {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.text p {
    margin-bottom: 25px;
}

.skills {
    margin-bottom: 125px;
}

.skills__title {
    margin-bottom: 18px;
}

.skills__text {
    margin-bottom: 80px;
}

.skills__list {
    display: flex;
    justify-content: space-between;
}

.skills__item {
    max-width: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__link {
    display: block;
}

.skills__img {
    display: block;
    margin-bottom: 25px;
}

.skills__name {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #828282;
}

.portfolio {
    margin-bottom: 125px;
}

.portfolio__title {
    margin-bottom: 50px;
}

.portfolio__img {
    margin-bottom: 45px;
}

.portfolio__subtitle {
    margin: 0;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.portfolio__subtitle--last {
    margin-bottom: 0;
}

.footer__title {
    margin-bottom: 20px;
}

.footer__subtitle {
    max-width: 275px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}